<h1>Категории</h1>

<p>Управление категориями.</p>

<p *ngIf="!categories"><em>Загрузка...</em></p>
<button  (click)="goToCategory(-1)" class="btn btn-success">Добавить</button>
<table class='table' *ngIf="categories">
  <thead>
    <tr>
      <th>#</th>
      <th>Нименование</th>
      <th>Дополнительные поля</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let category of categories">
      <td>{{ category.id }}</td>
      <td>{{ category.name }}</td>
      <td>
         <span *ngFor="let property of category.properties" class="label label-warning">{{property}}</span>
      </td>
      <td>
          <button class="btn btn-sm btn-primary" (click)="goToCategory(category.id)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="removeCategory(category)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
