<h1>Категории</h1>
<p>Редактирование категории.</p>
<p *ngIf="!category"><em>Загрузка...</em></p>
<button  (click)="goToCategories()" class="btn btn-success">Назад</button>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="category-name">Наименование:</label>
                <input type="text" class="form-control" id="category-name" name="category-name" [(ngModel)]="category.name">
            </div>
            <div class="input-group">
                <input type="text" name="new-prop" placeholder="Дополнительное поле:" class="form-control" [(ngModel)]="newProperty">
                <span class="input-group-btn">
                    <button [disabled]="!newProperty" class="btn btn-primary" (click)="addProperty()">+</button>
                </span>
            </div>
            <ul *ngIf="category.properties&&category.properties.length>0">
                <li *ngFor="let propert of category.properties;let i = index">
                    <div class="input-group">
                        <input type="text" [name]="'prop-'+i"  [value]="propert" disabled class="form-control">
                        <span class="input-group-btn">
                            <button class="btn btn-danger" (click)="removeProperty(i)">x</button>
                        </span>
                    </div>
                </li>
            </ul>
            <div class="form-group"> 
                <button type="submit" [disabled]="!category.name" class="btn btn-primary">Сохранить</button>
                <button class="btn btn-danger" (click)="cancel()">Отмена</button>
            </div>
        </form>
    </div>
</div>
