<h1>Задания</h1>
<p>Создать asp.net core веб приложение, в котором будут реализованы следующие страницы.</p>
<ul>
  <li>1 Категории товара</li>
  <li>2 Создание товара</li>
  <li>3 Просмотр товара</li>
</ul>
<h2>Страница категории товара.</h2>
<p>На странице категорий товара должен выводится список категорий, с возможностью добавлять
  новую или удалить существующую категорию.
  При добавлении категории нужно добавить возможность добавлять дополнительные поля для
  товара этой категории, например цвет, вес, размер и т.д.</p>
<h2>Страница создание товара</h2>
<p>На странице создание товара должна быть возможность заполнить общую информацию о товаре
(название, описание, цена, категория) и указать значения для дополнительных полей которые
были созданы для выбранной категории.</p>
<h2>Страница просмотр товара</h2>
<p>Вывести список товаров с фильтром по категориям и дополнительным полям</p>