<h1>Товары</h1>
<p>Редактирование товара.</p>
<p *ngIf="!product"><em>Загрузка...</em></p>
<button  (click)="goToProducts()" class="btn btn-success">Назад</button>
<div class="row">
    <div class="col-md-6">
        <form class="form-horizontal"  (ngSubmit)="onSubmit()">
            <div class="form-group">
                <label for="product-name">Наименование:</label>
                <input type="text" class="form-control" id="product-name" name="product-name" [(ngModel)]="product.name">
            </div>
            <div class="form-group">
                <label for="product-desc">Описание:</label>
                <input type="text" class="form-control" id="product-desc" name="product-desc" [(ngModel)]="product.description">
            </div>
            <div class="form-group">
                <label for="product-cost">Цена:</label>
                <input type="text" class="form-control" id="product-cost" name="product-cost" [(ngModel)]="product.cost">
            </div>
            <div class="form-group" *ngIf="categories">
                <label for="product-cat">Категория:</label>
                <select [(ngModel)]="product.category.id" class="form-control" (change)="selectChanged()" name="product-cat">
                    <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
                </select>
                <div *ngIf="selectedCategory">
                    <div class="form-group" *ngFor="let propert of selectedCategory.properties">
                        <label>{{propert}}:</label>
                        <input type="text" class="form-control"  [name]="'product-cat-prop'+propert" [(ngModel)]="product.category.properties[propert]">
                    </div>
                </div>
            </div>
            
            <div class="form-group"> 
                <button type="submit" [disabled]="!product.name" class="btn btn-primary">Сохранить</button>
                <button class="btn btn-danger" (click)="cancel()">Отмена</button>
            </div>
            
        </form>
    </div>
</div>
