<h1>Товары</h1>

<p>Управление товарами.</p>

<p *ngIf="!products"><em>Загрузка...</em></p>
<button  (click)="goToProduct(-1)" class="btn btn-success">Добавить</button>
<table class='table' *ngIf="products">
  <thead>
    <tr class="filters">
        <th></th>
        <th><input type="text" class="form-control" [(ngModel)]="searchProduct.name" placeholder="Наименование"></th>
        <th><input type="text" class="form-control" [(ngModel)]="searchProduct.description" placeholder="Описание"></th>
        <th><input type="text" class="form-control" [(ngModel)]="searchProduct.cost" placeholder="Цена"></th>
        <th>
          <select class="form-control" [(ngModel)]="searchProduct.category.id" (change)="selectChanged()">
            <option [value]="-1">Категория</option>  
            <option *ngFor="let c of categories" [value]="c.id">{{c.name}}</option>
          </select>
        </th>
        <th>
            <div *ngIf="selectedCategory">
                <div class="form-group" *ngFor="let propert of selectedCategory.properties">
                    <label>{{propert}}:</label>
                    <input type="text" class="form-control"  [name]="'product-cat-prop'+propert" [(ngModel)]="searchProduct.category.properties[propert]">
                </div>
            </div>
        </th>
        <th>
          <button class="btn btn-info" (click)="search()">Поиск</button>
        </th>
    </tr>
    <tr>
      <th>#</th>
      <th>Наименование</th>
      <th>Описание</th>
      <th>Цена</th>
      <th>Категория</th>
      <th>Дополнительно</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let product of products">
      <td>{{ product.id }}</td>
      <td>{{ product.name }}</td>
      <td>{{ product.description }}</td>
      <td>{{ product.cost }}</td>
      <td>
          {{ product.category.name }}
      </td>
      <td>
          <div *ngFor="let k of objectKeys(product.category.properties)" >{{k +' - '+ product.category.properties[k]}}</div>
      </td>
      <td>
          <button class="btn btn-sm btn-primary" (click)="goToProduct(product.id)">Изменить</button>
          <button class="btn btn-sm btn-danger" (click)="removeProduct(product)">Удалить</button>
      </td>
    </tr>
  </tbody>
</table>
